_ReSharper*/
.Global/Signing/*
.vs/
bin/
debug/
FakesAssemblies/
obj/
packages/*
release/
Templates/Project/ClassLibrary/TemplateLinks/
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/ClassLibrary/*
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/CodeAnalysis/
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/IntegrationTestProject/*
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/NuGet/
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/Properties/
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/ShimTestProject/*
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/Signing/
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/Solution/
Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/UnitTestProject/*
Templates/Project/UnitTestProject/TemplateLinks/
testresults/
*.suo
*.user

!.Global/Signing/ReadMe.txt
!.Global/Signing/StrongName.Development.snk
!Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/ClassLibrary/Properties/
!Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/IntegrationTestProject/Properties/
!Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/IntegrationTestProject/*.vstemplate
!Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/ShimTestProject/Properties/
!Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/ShimTestProject/*.vstemplate
!Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/UnitTestProject/Properties/
!Templates/Project/ClassLibrary-WithTestProjects/TemplateLinks/UnitTestProject/*.vstemplate